* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: #18181b;
  color: #a1a1aa;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.primary-heading {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #f4f4f5;
}

.sub-heading {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #a1a1aa;
  margin-top: 2rem;
}

.section-heading {
  margin-left: 2.6rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  /* identical to box height, or 175% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

/* used with body */
.paragraph {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;

  color: #a1a1aa;
}

/* used with blog headings */

.sm-paragraph-bold {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 28px;
  /* identical to box height, or 200% */
  color: #f4f4f5;
}

.link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 28px;
  /* identical to box height, or 200% */
  margin-top: 1rem;
  color: #2dd4bf;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
}

.link:hover {
  /* background-color: #211e22; */
  opacity: 0.8;
}

.btn {
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 500;
  color: #f4f4f5;
  padding: 8px 14px;
  border-radius: 4px;
  background-color: #211f23;
  border: none;
  min-height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  color: #2dd4bf;
}

.blog-work {
  margin-left: -4rem;
}

@media (max-width: 59em) {
  .blog-work {
    margin-left: 0rem;
  }
}
